{# {% extends "@FOSUser/layout.html.twig" %} #}
{# {% block fos_user_content %} #}
{# {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %} #}
{# {% endblock fos_user_content %} #}

{% extends "base.html.twig" %}

    {% block body %}
        {% block nav %}
    {% include 'navBar.html.twig' %}
    {% endblock %}
        <div class="container mt-4"> {# {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %} #}

        <div class="card mx-auto d-block mb-3"  style="max-width: 330px; margin: 0 auto;">
            <div class="card-header">
                <h2>{{ 'change_password.submit'|trans }}</h2>
            </div>
            <div class="card-body">
                {# <h4 class="card-title">Secondary card title</h4> #}
                <p class="card-text mx-auto d-block">{{ include('@FOSUser/ChangePassword/change_password_content.html.twig') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
