{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password' ), 'attr': { 'class': 'fos_user_change_password' |trans } }) }}
    {{ form_widget(form) }}
    <div style="max-width: 330px;margin: 0 auto;">
        {# <input class="mx-auto d-block btn-block btn-outline-secondary" type="submit" value="{{ 'change_password.submit'|trans }}" /> #}
            <button class="btn btn-block btn-outline-secondary" type="submit">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
