{% extends "base.html.twig" %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}


<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <div class="container mt-4">
              <div class="form-signin" style="max-width: 330px;padding: 15px;margin: 0 auto;">
                {{ 'layout.logged_in_as'|trans ({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a></div>
                </div>
            {% else %}
                {# <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}


                    <div class="container mt-4">
        <h2></h2>
      <div class="form-signin" style="max-width: 330px;padding: 15px;margin: 0 auto;">
        <h2 class="form-signin-heading">{{'connect'|trans }}</h2>
        <p class="">{{ include('@FOSUser/Security/login_content.html.twig') }}</p>
        <hr>
        <h4 class="">{{'not account yet?'|trans }}</h4>
        <a class="btn btn-block btn-outline-secondary" href="/register">{{'create account'|trans }}</a>    
      </div>
    </div>

<hr>
{# <a href="{{ path('fos_user_resetting_request') }}" class="__input __button">{{ 'resetting.reset.submit'|trans }}</a>
 <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
 #}
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}
