{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


    <label for="username">{{ 'security.login.username'|trans }}<abbr title="required">*</abbr></label>
    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="toto" />
<br>
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
<br>
    <button class="btn btn-block btn-outline-secondary" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>

</form>


