{% extends 'base.html.twig' %}

{% block title %}{{ 'Formations'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="m-4 text-center" id="formation">
            {{ 'Formations'|trans }}</h2>

        <table class="table table-hover">
            <thead>
                <tr class="table table-active">
                    <th>{{ 'Id'|trans }}</th>
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations  | reverse | slice(0, 30000)%}
                    <tr>
                        <td>{{formation.id}}</td>
                        <td>{{formation.title}}</td>
                        <td>
                            <a href="{{path('view_formation', {"id": formation.id})}}" class="btn btn-primary rounded">{{ 'show'|trans }}</a>
                            <a href="{{path('edit_formation', {"id": formation.id})}}" class="btn btn-warning rounded">{{ 'edit'|trans }}</a>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <hr>
        <div class="d-flex justify-content-start m-4">
            <a href="{{ path('add_formation') }}" class="btn btn-primary rounded">{{ 'Create new'|trans }}</a>
            <hr>
            <a class="btn btn-secondary rounded" href="#" role="button">{{ 'back to list'|trans }}</a>
        </div>
        <hr>


    </div>
{% endblock %}
