{% extends "base.html.twig" %}

{% block body %}
{% block nav %}
{% include 'navBar.html.twig' %}
{% endblock %}
<div class="container mt-4">
    <h2>{{ 'Edit content'|trans }}</h2>
    {{ include('@FOSUser/Profile/edit_content.html.twig') }}
</div>
{% endblock %}