{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    
    
        <div class="mb-3">
            <div class="">
                <p class="">{{ 'profile.show.username'|trans }} :
                    {{ user.username }}</p>
                <p class="">{{ 'profile.show.email'|trans }} :
                    {{ user.email }}</p>
                {# <p>{{ 'profile.show.roles'|trans }}: {{ user.roles.0 }}</p> #}
                <p class="">{{ 'Permission'|trans }} :
                    {{ user.roles.0 }}</p>
            </div>
        </div>

    
    
</div>
