{% extends "base.html.twig" %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container mt-4">
        <div class="card mx-auto d-block mb-3"  style="max-width: 330px; margin: 0 auto;">
            
            <div class="card-header">
                <h2>{{ 'Visualiser son profil'|trans }}</h2>
            </div>

            <div class="card-body">
            <p>{{ include('@FOSUser/Profile/show_content.html.twig') }}</p>
        
        
            <a href="{{ path('fos_user_change_password' ) }}" class="btn btn-block btn-outline-secondary">{{ 'change_password.submit' |trans }}</a>
            <a class="btn btn-block btn-outline-secondary" href="/logout">{{ 'layout.logout' |trans }}</a>
            </div>
        </div>


        

    </div>
{% endblock %}
