{% extends "base.html.twig" %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>
{% endblock %}