{% extends "base.html.twig" %}

{% block body %}
{% block nav %}
{% include 'navBar.html.twig' %}
{% endblock %}
<div class="container">
    <h2>{{'Request content'|trans }}</h2>
    {{ include('@FOSUser/Resetting/request_content.html.twig') }}
</div>
{% endblock %}