<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm( {{'Are you sure you want to delete this item?' |trans }} );">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger rounded">{{ 'Delete'|trans }}</button>
</form>
