{% extends 'base.html.twig' %}

{% block title %}YNCY || {{ 'Booking list'|trans }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="mb-4 text-center" id="booking">
            {{ 'Booking'|trans }}</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th>{{ 'Id'|trans }}</th>
                        <th>{{ 'Summary'|trans }}</th>
                        <th>{{ 'BeginAt'|trans }}</th>
                        <th>{{ 'EndAt'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for booking in bookings | reverse | slice(0, 30000) %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.summary }}</td>
                            <td>{{ booking.start ? booking.start|date('d-m-Y') : '' }}</td>
                            <td>{{ booking.end ? booking.end|date('d-m-Y') : '' }}</td>
                            <td>
                                <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-primary rounded">{{ 'show'|trans }}</a>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-warning rounded">{{ 'edit'|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{ 'no records found'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="d-flex justify-content-start m-4">
            <a href="{{ path('booking_new') }}" class="btn btn-primary rounded">{{ 'Create new'|trans }}</a>
            <hr>
            <a class="btn btn-secondary rounded" href="{{path('admin')}}" role="button">{{ 'back to list'|trans }}</a>
        </div>
        <hr>


        {# <a href="{{path('admin')}}" class="btn btn-primary">back to list</a> #}
    </div>
{% endblock %}
