{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="mb-4 text-center">
        {{ 'Calendar'|trans }}</h2>
    <div class="container" id="calendar">

        {% include '@Calendar/calendar.html' %}

    {% endblock %}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css" rel="stylesheet">
        {# lien bootstrap #}
        <link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@4.2.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.2.0/main.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var calendarEl = document.getElementById('calendar-holder'); // OK

                var calendar = new FullCalendar.Calendar(calendarEl, {

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    eventSources: [
                        {
                            url: "{{ path('fc_load_events') }}",
                            method: "POST",
                            extraParams: {
                                filters: JSON.stringify({})
                            },
                            failure: () => { // alert("There was an error while fetching FullCalendar!");
                            }
                        },
                    ],
                    displayEventTime: false,
                    defaultView: 'dayGridMonth',
                    editable: false,
                    plugins: [
                        'interaction', 'dayGrid', 'googleCalendar', 'timeGrid',
                    ],
                    googleCalendarApiKey: 'AIzaSyBBPKUrXSYC8JKAkVfT2kS9mYHDzE32Exo', // OK
                    events: {
                        googleCalendarId: ('mepao5hpp6lifbbsv1btmu0cpk@group.calendar.google.com') // perso
                    },

                    timeZone: 'UTC'
                });
                calendar.render();
            });
        </script>
        <hr>
        <a href="{{ path('booking_new') }}" class="btn btn-primary rounded">
            {{ 'Create new booking'|trans }}</a>

        <hr>
    </div>
{% endblock %}
