{% extends 'base.html.twig' %}

{% block title %}YNCY || Edit Booking
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="mb-4 text-center">
            {{ 'Booking'|trans }}</h2>
        <h2>{{ 'Edit Booking'|trans }}</h2>

        {{ include('admin/booking/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin/booking/_delete_form.html.twig') }}

        <a href="{{ path('admin') }}" class="btn btn-primary rounded m-4">{{ 'back to list'|trans }}</a>
        {# <a href="{{ path('admin') }}" class="btn btn-primary">back to list</a> #}
    </div>
{% endblock %}
