{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new Booking'|trans }}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="mb-4 text-center">
            {{ 'Booking'|trans }}</h2>
        <h2>{{ 'Create new Booking'|trans }}</h2>

        {{ include('admin/booking/_form.html.twig') }}

        <a href="{{ path('admin') }}" class="btn btn-primary rounded">{{ 'back to list'|trans }}</a>
    </div>
{% endblock %}
