{% extends 'base.html.twig' %}

{% block title %}YNCY || Booking : {{ booking.summary }}
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="mb-4 text-center">
            {{ 'Booking'|trans }}</h2>
        <h2>{{ 'View'|trans }} : {{ booking.summary }}</h2>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'Summary'|trans }}</th>
                    <td>{{ booking.summary }}</td>
                </tr>
                <tr>
                    <th>{{ 'Start'|trans }}</th>
                    <td>{{ booking.start ? booking.start|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'End'|trans }}</th>
                    <td>{{ booking.end ? booking.end|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'Location'|trans }}</th>
                    <td>{{ booking.location }}</td>
                </tr>
                <tr>
                    <th>{{ 'Description'|trans }}</th>
                    <td>{{ booking.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'Formation'|trans }}</th>
                    <td>{{ booking.formations }}</td>
                </tr>

            </tbody>
        </table>

        <a href="{{ path('admin') }}" class="btn btn-primary rounded">{{ 'back to list'|trans }}</a>

        <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-primary rounded">{{ 'edit'|trans }}</a>

        {{ include('admin/booking/_delete_form.html.twig') }}
    </div>
{% endblock %}
