{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% block nav %}
{% include 'navBar.html.twig' %}
{% endblock %}
<div class="container">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>
{% endblock %}