{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% block nav %}
{% include 'navBar.html.twig' %}
{% endblock %}
<div class="container">
    <p>{{ 'registration.confirmed'|trans ({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
</div>
{% endblock %}