{% extends "base.html.twig" %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container mt-4">
        <h2></h2>

        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h3>{{ 'Formulaire d\'enregistrement' |trans}} </h3>
            </div>
            <div class="card-body">

                <p class="card-text">{{ include('@FOSUser/Registration/register_content.html.twig') }}


                </p>
            </div>
        </div>
    {% endblock %}
