{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css" rel="stylesheet">
    {% endblock %}
{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}

    <h2 class="text-center mt-4">{{'Calendar'|trans }}</h2>
    <div class="container">
        <p class="mb-4 text-center text-muted">{{ 'Retrouvez ici les formations que je dispense sur mon calendrier'|trans }}</p>
                                    
        {% include '@Calendar/calendar.html' %}
        <HR>
        <a href="https://calendar.google.com/calendar/u/0/r" class="btn btn-success rounded">{{'my Google Calendar'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('booking_new') }}" class="btn btn-primary rounded">
                {{'Create new booking'|trans }}</a>
        {% endif %}
        

    {% endblock %}
    
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.2.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@4.2.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.2.0/main.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var calendarEl = document.getElementById('calendar-holder'); // OK

                var calendar = new FullCalendar.Calendar(calendarEl, {

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    eventSources: [
                        {
                            url: "{{ path('fc_load_events') }}",
                            method: "POST",
                            extraParams: {
                                filters: JSON.stringify({})
                            },
                            failure: () => { // alert("There was an error while fetching FullCalendar!");
                            }
                        },
                    ],
                    displayEventTime: true,
                    defaultView: 'dayGridMonth',
                    editable: false,
                    plugins: [
                        'interaction', 'dayGrid', 'googleCalendar', 'timeGrid',
                    ],
                    googleCalendarApiKey: 'AIzaSyB2U5Y2-sQSxv96Lvz4nzBcPqqSBMNHmv4', // OK
                    events: {
                        googleCalendarId: ('mepao5hpp6lifbbsv1btmu0cpk@group.calendar.google.com') // OK
                    },

                    timeZone: 'UTC'
                });
                calendar.render();
            });
        </script>
        <HR>
        
        
    </div>
{% endblock %}
