{% extends 'base.html.twig'%}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}

    <div class="container">

        <h1 id="topTitle" class="m-2">{{'Les formations YNCY proposées'|trans }}</h1>
        {% for formation in formations %}

            <div class="card mb-3">
                <h3 class="card-header">{{ formation.title }}</h3>

                <img class="formation img-fluid mx-auto d-block" src="{{ formation.image }}" alt="{{ formation.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{'Description'|trans }} :</h5>
                    <h6 class="card-subtitle text-muted">{{ formation.description }}</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{'Programme'|trans }} :</h5>
                    <h6 class="card-subtitle text-muted">{{ formation.programm }}</h6>
                </div>

                <div class="card-footer text-muted">
                    <a href="{{path('lastEvents')}}" class="card-link">{{'Derniers évènements'|trans }}</a>
                    <a href="https://calendar.google.com/calendar/u/0/r/" class="card-link">{{'Google Calendar'|trans }}</a>
                </div>
            </div>

        {% endfor %}

    </div>

        <div class="d-flex justify-content-end m-4">
            <a class="btn btn-secondary rounded" href="#" role="button">{{'Retour au sommet'|trans }}</a>
        </div>
    </div>
{% endblock %}
