{% extends 'base.html.twig'%}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}

    <div class="container">
        <h1 class="text-center mt-4">
            {{'YNCY Formations de Yoga à Annecy'|trans }}</h1>
        <h6 class="text-center text-muted">{{'Y pour Yoga, NCY est le code AITA d\'Annecy'|trans }}</h6>
       {# {{ '' |trans }} #}
        <p class="text-center">
            
                  {{'Retrouvez ici les formations que je dispense et le calendrier associé.'|trans }}
                  {{'Ajoutez la formation qui vous intéresse sur votre agenda en ligne.'|trans }}
                  
                  </p>
        {% for teacher in teachers %}
            <HR>
            <blockquote class="blockquote">
                <p class="mb-0">{{'Le yoga n\'est pas une pratique élitiste et s\'adapte à chaque pratiquant. Dénué de tout esprit de compétition et d\'objectif à atteindre, n\'importe qui peut s\'y adonner, quel que soit l\'âge, l\'état, la religion, malade ou bien portant...'|trans }}</p>
{#                                 <footer class="blockquote-footer">Source unknown
                    <cite title="Source Title">?</cite> #}
                </footer>
            </blockquote>
            {% for teacher in teachers %}

            <h3 class="m-4">{{ teacher.firstName }} {{ teacher.lastName }}</h3>
            <img class="teacher img-fluid mx-auto d-block" src="{{ teacher.image }}" alt="{{ teacher.firstName }}">

            <div class=" item mb-4">


                        <div class="text xl-6 xs-12">
                            <h3>{{'A propos'|trans }} :</h3>
                            <div class="bg-light rounded">
                                <p class="m-2">
                                    {{teacher.about}}
                                </p>
                            </div>
                        </div>
                        <div class="text xl-6 xs-12">
                            <h3>{{'Mon parcours'|trans }} :</h3>
                            <div class="bg-light rounded">
                            <p class="m-2">
                                {{teacher.cursus}}
                            </p>
                            </div>
                        </div>


            </div>
            <hr>
        {% endfor %}
            
            {# <blockquote class="blockquote mb-4">
                <p class="mb-0">On n'en a retenu que les aspects soi-disant « pratiques » (gymnastique corporelle, ralentissement de la respiration) […] pour « se maintenir en forme ». Rappelons encore que ces gestes (s'asseoir en tailleur, respirer lentement) ne sont rien au regard du Yoga véritable s'ils ne sont pas précédés de la stricte observance des disciplines (yama et niyama) et s'ils ne sont pas ordonnés à la recherche de l'état de kaivalya par l'intermédiaire du retrait des sens et de la dissolution de la pensée. Mais surtout le Yoga n'est rien s'il n'est pas vu dans l'ensemble d'une conception du monde (darshana) qui ne peut être disséquée et « triée ». Mieux vaut sans doute l'étudier pour lui-même et par accès direct aux textes.</p>
                <footer class="blockquote-footer">Jean Varenne in
                    <cite title="Source Title">Upanishads du yoga</cite>
                </footer>
            </blockquote> #}

        {% endfor %}


    </div>
{% endblock %}
