{% extends 'base.html.twig' %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">

        <h2 id="#" class="m-4">{{'Liste des derniers évènements YNCY'|trans }}</h2>

        {% for booking in bookings | reverse | slice(0, 30000) %}


            <h3 class="m-4">{{'from'|trans }}
                {{ booking.start ? booking.start|date('d') : '' }}
                {{'to'|trans }}
                {{ booking.end ? booking.end|date('d-m-Y') : '' }}</h3>

            <table class="table item">
                <tbody>
                    <tr>
                        <th></th>
                        <td class="text col-7">
                            <h4>{{'Formation associée'|trans }} :
                            </h4>
                            {{ booking.formations }} {{ booking.summary }} 

                        </td>
                        <td class="text col-5">
                            <h4>{{'location'|trans }} :
                            </h4>
                            {{ booking.location }}
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr class="m-4">
        {% endfor %}
        <div class="d-flex justify-content-end m-4">
            <a class="btn btn-secondary rounded" href="#" role="button">{{'Retour au sommet'|trans }}</a>
        </div>
    </div>
{% endblock %}
