{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard || YNCY
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <ul class="nav nav-tabs m-4">
        <li
            class="nav-item">
            {# <a class="nav-link active" href="#formation">Formation</a> #}
            <a class="nav-link active" href="#formation" data-toggle="tab">{{ 'Formation'|trans }}</a>
        </li>
        <li
            class="nav-item">
            {# <a class="nav-link" href="#booking">Booking</a> #}
            <a class="nav-link" href="#booking" data-toggle="tab">{{ 'Booking'|trans }}</a>
        </li>
        <li
            class="nav-item">
            {# <a class="nav-link" href="#calendar">Calendar</a> #}
            <a class="nav-link" href="#calendar" data-toggle="tab">{{ 'Calendar'|trans }}</a>
        </li>
        <li
            class="nav-item">
            {# <a class="nav-link" href="#teacher">Teacher</a> #}
            <a class="nav-link" href="#teacher" data-toggle="tab">{{ 'Teacher'|trans }}</a>
        </li>

    </ul>

    {# <nav class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#formation" data-toggle="tab">Formation</a>
        <a class="nav-item nav-link" href="#booking" data-toggle="tab">Booking</a>
        <a class="nav-item nav-link" href="#calendar" data-toggle="tab">Calendar</a>
        <a class="nav-item nav-link" href="#teacher" data-toggle="tab">Teacher</a>
    </nav> #}
    <div class="tab-content">
        <div class="tab-pane fade show active" id="formation">{{ include('admin/formation/formation.html.twig') }}</div>
        <div class="tab-pane fade" id="booking">{{ include('admin/booking/booking.html.twig') }}</div>
        <div class="tab-pane fade" id="calendar">{{ include('admin/booking/calendar.html.twig') }}</div>
        <div class="tab-pane fade" id="teacher">{{ include('admin/teacher/teacher.html.twig') }}</div>
    </div>
{% endblock %}
