// Functions & assets 
// ==================
$mobile-breakpoint: 992px !default;

@mixin desktopStyle {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin mobileStyle {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}
