/* assets/css/app.css */
body {
    background-color: lightgray;
}

html {
    scroll-behavior: smooth;
  }

.last{
    background-color: WhiteSmoke ;
}
.item{
    background-color: WhiteSmoke ;
}

.teacher {
    width: 50rem;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto

}
.formation {
    width: 45rem;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto

}

.thumb {
    width: 15rem;
}

.text {
    text-align: justify;
}

.mep {
    margin-bottom: 1%;
}
/*La règle @media permet d'imbriquer un ensemble d'instructions imbriquées(délimitées par des accolades) 
avec une condition définie par une requête média, ici min-width: 992px. 
Elle permet d'appliquer les styles à condition que la largeur de la zone soit > à 992px.*/
@media (min-width:992px) { 
    body {
        
        /*padding-left: permet d'avoir un padding adapté lorsque taille écran > 992px.*/
        padding-top: 0;
        // padding-left: 17rem;
    }
}