{% extends "base.html.twig" %}

{% block body %}
{% block nav %}
{% include 'navBar.html.twig' %}
{% endblock %}
<div class="container">
    <h2>{{ 'Show content'|trans }}</h2>
    {{ include('@FOSUser/Group/show_content.html.twig') }}
</div>
{% endblock %}