{% extends 'base.html.twig' %}

{% block title %}{{ 'Formations'|trans }}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="m-4 text-center">
            {{ 'Formations'|trans }}</h2>

        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}

        <a href="{{path('admin')}}" class="btn btn-primary rounded">{{ 'back to list'|trans }}</a>
    </div>
{% endblock %}
