{# app/templates/_flags.html.twig #}

{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{# You may want to not print a flag/link for current view, the "if" here let you handle it #}

{% for locale in locales if locale != app.request.locale %}

    <li class="nav-item">
        <a class="nav-link" href="{{ path(route, params|merge({ _locale: locale })) }}">
            <img src="{{ asset('images/flags/' ~ locale ~ '.png') }}" title="clic pour la version {{ locale |trans}}" alt="{{ locale |trans}}">
        </a>
    </li>

{% endfor %}
      
