<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">

        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# lien google #}
        <meta content="851864769291-e4jtpgfqbfjefekvtn1r0v97ijpe2fde.apps.googleusercontent.com" name="google-signin-client_id">
        <meta content="profile email" name="google-signin-scope">
        <script async defer src="https://apis.google.com/js/platform.js"></script>

        {% block stylesheets %}
            {# lien bootstrap #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-1/css/bootstrap-grid.min.css" integrity="sha512-NyrvF94auQJYFbBZNKiGXkBCzJoXcpLhVBlMUyUfyDvNwMiB6l5XLBAw+wNFyAg0Jr++YMt7bHAOrRt37/lLDA==" crossorigin="anonymous" />
            <link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

        <title>
            {% block title %}{{'YNCY || Yoga in Annecy'|trans }}
            {% endblock %}
        </title>

    </head>

    <body>
        {% block body %}
            <div class="container"></div>
        {% endblock %}

        {% block javascripts %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js" integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-1/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
        {% endblock %}
    </body>

</html>
