{% extends 'base.html.twig' %}

{% block body %}

    {# <div class="btn nav-item g-signin2" data-onsuccess="onSignIn"></div> #}
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>
    {# <a href="{{path('index')}}" onclick="signOut();">Sign out</a> #}
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance(); // le garder absolument
            auth2.signOut().then(console.log('User signed out.'));
            var revokeAllScopes = function () { // radical but it really revoke all scopes
                auth2.disconnect();
            }
        }
    </script>

{% endblock %}
