{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
        <a class="navbar-brand">YNCY</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('index')}}">{{ 'home'|trans }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('formation')}}">{{ 'Formations'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('calendar')}}">{{ 'Calendar'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('lastEvents')}}">{{ 'Last events'|trans }}</a>
                </li>
{#                 {% for locale in locales %}
                    {% if locale != app.request.locale %} 
                        <li class="nav-item">
                            <a class="nav-link locale" href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
                        </li>
                    {% endif %}
                {% endfor %} #}

                {% include '_flags.html.twig' %}
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% include 'googleSignIn.html.twig' %}

                    {% if app.user %}

                        <a class="btn nav-item rounded" href="/profile">{{ 'Profil'|trans }}</a>
                        

                    {% else %}

                        <a class="btn nav-item rounded" href="/login">{{ 'Admin'|trans }}</a>

                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('admin') }}" class="btn nav-item rounded">{{ 'Dashboard'|trans }}</a>
                        <a href="/logout" class="btn nav-item rounded">{{ 'Logout'|trans }}</a>
                    {% endif %}

                    
                </li>

            </ul>
        </form>

    </div>
</nav>{% endblock %}
