{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Teacher' |trans }}
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="m-4 text-center">
            {{ 'Teacher' |trans }}</h2>
        <h2>{{ 'Edit teacher'|trans }}</h2>


{{ include('admin/teacher/_form.html.twig', {'button_label': 'submit'|trans}) }}
<div class="d-flex justify-content-start mt-2 ml-0">
        <a class="btn btn-primary rounded mr-1" href="{{ path('admin') }}" role="button">{{ 'back to list'|trans }}</a>
        
        {{ include('admin/teacher/_delete_form.html.twig') }}  
</div>
            
        <script>
            $(".custom-file-input").on("change", function (event) {
                var inputFile = event.currentTarget;
                $(inputFile).parent().find(".custom-file-label").html(inputFile.files[0].name);
            });
        </script>
    </div>
{% endblock %}
