{% extends 'base.html.twig' %}

{% block title %}{{ 'New Teacher'|trans }}
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="m-4 text-center">
            {{ 'Teacher'|trans }}</h2>
        <h2>{{ 'Create Teacher'|trans }}</h2>

        {{ include('admin/teacher/_form.html.twig') }}

        {# <a href="{{ path('admin') }}" class="btn btn-primary rounded">{{ 'Create new'|trans }}</a> #}
    </div>
{% endblock %}
