{% extends 'base.html.twig' %}

{% block title %}{{ 'Teacher'|trans }}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="m-4 text-center">
            {{ 'Teacher'|trans }}</h2>

        <h3 class="m-4">{{ teacher.firstName }} {{ teacher.lastName }}</h3>
            <img class="teacher img-fluid mx-auto d-block" src="{{ teacher.image }}" alt="{{ teacher.firstName }}">

            <div class=" item mb-4">


                        <div class="text xl-6 xs-12">
                            <h3>{{'A propos'|trans }} :</h3>
                            <div class="bg-light rounded">
                                <p class="m-2">
                                    {{teacher.about}}
                                </p>
                            </div>
                        </div>
                        <div class="text xl-6 xs-12">
                            <h3>{{'Mon parcours'|trans }} :</h3>
                            <div class="bg-light rounded">
                            <p class="m-2">
                                {{teacher.cursus}}
                            </p>
                            </div>
                        </div>


            </div>

        <a href="{{ path('admin') }}" class="btn btn-primary rounded m-4">{{ 'back to index'|trans }}</a>
        {# <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-primary rounded">{{ 'edit'|trans }}edit</a> #}

        {# {{ include('admin/teacher/_delete_form.html.twig') }} #}
    </div>
    <hr>
{% endblock %}
