{% extends 'base.html.twig' %}

{% block title %}{{ 'Teacher index'|trans }}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="mb-4 text-center">
            <i class="fas fa-city fa-xs" id="teacher"></i>{{ 'Teacher'|trans }}</h2>

        <table class="table">
            <thead>
                <tr>

                    <th>{{ 'Name' |trans }}</th>
                    <th>{{ 'Image' |trans }}</th>
                    <th>{{ 'UpdatedAt'|trans }}</th>
                    <th class="d-none d-md-block d-lg-block">{{ 'Cursus' |trans }}</th>

                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.firstName }}
                            {{ teacher.lastName }}</td>

                        <td><img class="thumb img-fluid" src="{{ teacher.image }}"></td>

                        <td>{{ teacher.updatedAt ? teacher.updatedAt|date('d-m-Y') : '' }}</td>
                        <td class="d-none d-md-block d-lg-block">{{ teacher.cursus }}</td>

                    </tr>
            </tbody>

        </table>
                                    {# <p> #}
                                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}" class="btn btn-primary rounded">{{ 'show' |trans }}</a>
                                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}" class="btn btn-primary rounded">{{ 'edit' |trans }}</a>
                                    {#<a href="{{ path('teacher_delete', {'id': teacher.id}) }}" class="btn btn-danger rounded">{{ 'delete' |trans }}</a>#}
                                    {# </p> #}


                {% else %}

                        <p>{{ 'no records found'|trans }}</p>

                {% endfor %}

        <hr>
        <div class="d-flex justify-content-start m-4">
            <a href="{{ path('teacher_new') }}" class="btn btn-primary rounded">{{ 'Create new'|trans }}</a>
            <hr>
            <a class="btn btn-secondary rounded" href="#" role="button">{{ 'Back to the list'|trans }}</a>
        </div>
        <hr>
    </div>
{% endblock %}
