{% extends 'base.html.twig' %}

{% block title %}
    YNCY ||
    {{formation.title}}
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="mb-4 text-center">
            {{ 'Formations'|trans }}</h2>
        <h3>{{ 'Relevant training '|trans }} :
            {{formation.title}}</h3>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'name'|trans }}</th>
                    <td>{{formation.title}}</td>
                </tr>
                <tr>
                    <th>{{ 'description'|trans }}</th>
                    <td>{{formation.description}}</td>
                </tr>
                <tr>
                    <th>{{ 'programm'|trans }}</th>
                    <td>{{formation.programm}}</td>
                </tr>
                <tr>
                    <th>{{ 'image'|trans }}</th>
                    <td><img class="formation" src="{{ formation.image }}" alt="{{ formation.title }}"></td>
                </tr>
            </tbody>
        </table>


        <a href="{{path('admin')}}" class="btn btn-primary rounded m-4">{{ 'back to list'|trans }}</a>
    </div>
{% endblock %}
