{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Formations'|trans }}{% endblock %}
{% block body %}
    {% block nav %}
        {% include 'navBar.html.twig' %}
    {% endblock %}
    <div class="container">
        <h2 class="m-4 text-center">
            {{ 'Formations'|trans }}</h2>
        <h3>{{ 'Edit'|trans }} :
            {{formation.title}}</h3>

        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}<script>
            $(".custom-file-input").on("change", function (event) {
                var inputFile = event.currentTarget;
                $(inputFile).parent().find(".custom-file-label").html(inputFile.files[0].name);
            });
        </script>
        <a href="{{path('admin')}}" class="btn btn-primary rounded">{{ 'back to list'|trans }}</a>
        {#casse#}
        <a href="{{path('formation_delete', {"id": formation.id})}}" class="btn btn-danger rounded" onsubmit="return confirm('Are you sure you want to delete this item?' |trans);">{{ 'delete'|trans }}</a>
    </div>
{% endblock %}
